<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rs.edu.etspupin.www.ets_official">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_mihajlo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_mihajlo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main_class">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".setup" />
        <activity android:name=".dashboard" />
    </application>

</manifest>